/* APPARENCE GÉNÉRALE DU FORMULAIRE */

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Helvetica Neue", Oxygen, Cantarell, sans-serif;
}

.menuSelection {
  margin-top: 1ex;
  margin-bottom: 1ex;
}

input[type="button"] {
  display: block;
  margin: auto;
  margin-top: 2ex;
}

/* input[type="checkbox"] {
  margin: auto;
  margin-top: 2ex;
} */

#logo {
  padding-left: 1em;
  height: 1em;
}

/* Dissimuler les coordnnées du syndicat avant le calcul*/

#syndicat {
  display: none;
}


/* INFOBULLES */

.tooltip {
	position: relative;
	display: inline-block;
  font-size: large;
  vertical-align: super;
  padding-right: 1em;
}

/* Texte de l’infobulle */
.tooltip .tooltiptext {
  visibility: hidden;
  background-color: rgb(41, 39, 39);
  color: #fff;
  text-align: left;
  padding: 5px 1ex;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  width: max-content;
  max-width: 20ch;
}

/* Montrer l’infobulle au passage de la souris */
.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 0.8;
}